 .main{
            background-color: rgb(248, 238, 201);
            display: flex;
            flex-direction: column;
            align-items:flex-end;
            /*flex-wrap: wrap;/
            /justify-content: center;/
             /justify-content:space-around;/
              /justify-content:space-between;*/
           
        }
        .item1{
            background-color: rgb(110, 85, 47);
            width:110px;
            height:110px;
        }
        .item2{
            background-color: rgb(101, 70, 24);
            width:110px;
            height:110px;
        }
        .item3{
            background-color: rgb(214, 166, 93);
            width:110px;
            height:110px;
        }
         .item4{
            background-color: rgb(116, 100, 77);
            width:110px;
            height:110px;
        }
         .item5{
            background-color: rgb(242, 195, 123);
            width:110px;
            height:110px;
        }
         .item6{
            background-color: rgb(249, 152, 6);
            width:110px;
            height:110px;
        }