body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #c8b7bf, #98578a);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background: #ffffff;
    width: 320px;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.15);
}

h2 {
    margin-bottom: 20px;
}

.display-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.display-box input {
    width: 70%;
    border: none;
    font-size: 16px;
}

.copy-btn {
    background: #2e1037;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    color: rgb(235, 213, 252);
    cursor: pointer;
}

.options {
    text-align: left;
    margin: 15px 0;
}

.options label {
    display: block;
    margin: 6px 0;
}

.generate-btn {
    width: 100%;
    padding: 10px;
    background: #724a75;
    color: #ffffff;
    border: none;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}
